<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/cargaProducto.css">
    <script src="https://kit.fontawesome.com/720e4c8677.js" crossorigin="anonymous"></script>
    

    <title>Pint@me</title>
</head>
<body>
    <header class="cabecera">
        <a href="./index" class="logo"><img src="/images/logos/Pintamev2.png" alt="" ></a> 
    </header>

    <section class="contenedor">
        <div class="ingreso">
            <h2>NUEVO PRODUCTO</h2> <hr class="hrcolor">
            <h4>Ingresar los datos correspondientes al producto</h4>
            <form action="" class="form" method="POST" enctype="multipart/form-data" >
                <div class= "medio">
                <div class="medio_1">
                    <label for="id_proveedor">Proveedor &nbsp</label>
                    <select id= 'id_proveedor' onchange="select()" name="id_proveedor" >
                        <% for(let i = 0; i< proveedores.length ; i++) { %> 
                              <option value= "<%= proveedores[i].id%>">
                                  <%= proveedores[i].proveedor%>
                     </option>   
                        <% } %>
                    <!--<input type='text' id= 'id_proveedor'name="id_proveedor" value="" placeholder="Nombre del proveedor"> -->
                </select>
                    <label for="sku">Sku &nbsp</label>
                    <input type='number' id= 'sku'name="sku" value="" placeholder="Ingresa el n° de Sku"> 

                    <label for="marca">Marca &nbsp</label>
                    <select id ='id_marca'  name="id_marca" >
                       
                        
                        <% for(let a = 0; a< marca.length ; a++) { %> 
                        
                            <option   value= '<%=marca[a].id%>'>
                                  
                                <%= marca[a].marca %>
                              
                     </option>   
                        <% } %>
                  <!--<input type='text' id= 'marca'name="marca" value="" placeholder="Ingresa la marca"> &nbsp-->
                </select>
        
                    <label for="id_familia">Familia &nbsp</label>
                    <select id='id_familia' name="id_familia" onchange="familia()">
                        <% for(let i = 0; i< familia.length ; i++) { %> 
                              <option value= "<%= familia[i].id%>">
                                  <%= familia[i].familia%>
                     </option>   
                        <% } %>
                    <!--<input type="text" id='familia' name="familia" value="" placeholder="Familia de producto"> -->
                </select>
                </div>
                <div class="medio_2">
                    <label for="id_subfamilia">Subfamilia &nbsp</label>
                    <select name="id_subfamilia" id="id_subfamilia" >
                        <% for(let b = 0; b< subfamilia.length ; b++) { %> 
                              <option value= "<%= subfamilia[b].id%>">
                                  <%= subfamilia[b].subfamilia%>
                     </option>   
                        <% } %>
                   <!-- <input type="text" id='id_subfamilia' name="id_subfamilia" value="" placeholder="Subfamilia"> <br>       -->
                </select>
                     <label for="id_tipo">Tipo&nbsp</label>
                     <select name="id_tipo" onchange="tipo()" id="id_tipo">
                        <% for(let i = 0; i< tipo.length ; i++) { %> 
                              <option value= "<%= tipo[i].id%>">
                                  <%= tipo[i].tipo%>
                     </option>   
                        <% } %>
                    <!-- <input type="text" id='tipo' name="tipo" value="" placeholder="Ejemplo: Látex interior"> -->
                </select>
                    <label for="id_subtipo">Subtipo&nbsp</label>
                    <select name="id_subtipo" id="id_subtipo">
                        <% for(let i = 0; i< subtipo.length ; i++) { %> 
                              <option value= "<%= subtipo[i].id%>">
                                  <%= subtipo[i].subtipo%>
                     </option>   
                        <% } %>
                    <!--<input type="text" id='subtipo' name="id_subtipo" value="" placeholder="Ejemplo: Látex interior"> -->
                </select>
                    <label for="presentacion">Presentacion &nbsp</label>
                    <input type="text" id='presentacion' name="presentacion" value="" placeholder="Litros - CM3 - Unidades"> 
                </div>
                <div class="medio_3">
                    <label for="contenido_neto">Contenido Neto &nbsp</label>
                    <input type="text" id='contenido_neto' name="contenido_neto" value="" placeholder="Contenido Neto"> <br>

                    <label for="color">Color &nbsp</label>
                    <input type="text" id='color' name="color" value="" placeholder="color"> <br>
                
                
                    <label for="tiempo_entre_manos">Tiempo de espera entre manos &nbsp</label>
                    <input type="number" id='tiempo_entre_manos' name="tiempo_entre_manos" value="" placeholder="Tiempo de espera entre manos"> 
                </div>
                    <div class="medio_4">
              
                    <label for="base">Base  &nbsp</label>
                    <input type="text" id= 'base' name="base" value="" placeholder="Base (Ej: al agua)"> <br>

                    <label for="id_terminacion">Terminación  &nbsp</label>
                    <!-- <input type="text" id='id_terminacion' name="id_terminacion" value="" placeholder="Tipo de Terminación"> -->
                    <select name="id_terminacion" id="id_terminacion">
                        <% for(let i = 0; i< terminacion.length ; i++) { %> 
                              <option value= "<%= terminacion[i].id%>">
                                  <%= terminacion[i].terminacion%>
                     </option>   
                        <% } %>
                    <!--<input type="text" id='subtipo' name="id_subtipo" value="" placeholder="Ejemplo: Látex interior"> -->
                </select>
                
                    <label for="rendimiento">Rendimiento  &nbsp</label>
                    <input type="text" id='rendimiento' name="rendimiento" value="" placeholder="Ejemplo 12 a 16 m2/l por mano">
                </div>
                <div class="medio_5">
                    <label for="uso_recomendado">Uso Recomendado  &nbsp</label>
                    <input type="text" id='uso_recomendado' name="uso_recomendado" value="" placeholder="Ej: Interio o exterior"> <br>
             
                    <label for="tiempo_de_secado">Secado al tacto  &nbsp</label>
                    <input type="text" id='tiempo_de_secado' name="tiempo_de_secado" value="" placeholder="Tiempo de secado">

                    <label for="garantia">Garantia  &nbsp</label>
                    <input type="text" id='garantia' name="garantia" value="" placeholder="Tiempo de Garantia">
             
                    <label for="imagen_producto">Cargar imagen del producto  &nbsp</label>
                    <input type="file" name="imagen_producto" id= 'imagen_producto' class= 'form-control-file'> <br>
                     </article>
                </div>
                </div>
                <button class="enviar" type="submit" name="cargarProducto" class="cargarProducto">Cargar Productos</button>   
       
            </form>
        </div>
     
    </section>
    <footer class="footer">
        <div class="credenciales">
            <ul>
                <li> <a href="#"> Quienes Somos</a> </li>
                <li> <a href="#">Pedidos Especiales </a></li>
                <li><a href="#">Contacto</a></li>
            </ul>    
        </div>
        <div class="logo-footer">
            <img src="/images/logos/Pintamev2.png">
        </div>
        <div class="redesSociales">
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
           
        </div>
     </footer>
     <script src ='/js/prueba.js'></script>

</body>