<!DOCTYPE html >
<html lang="en">
    <%- include('partials/Head.ejs') %>
    <script src="/js/agregadocarro.js"type="text/javascript"></script>
<body>

   <%- include ('partials/Header.ejs')%>
 
  
    <div class="Vitrina">
        <ul class="vitrineando">
            <li id="Slider1">
                <div class="imagenesVit">
                <img src ="/images/livingVitrna1.jpg.jpg">
                <div class="claim"> TODOS LOS COLORES AL MISMO PRECIO</div>    
                </div>  
            </li>

            <li id="Slider2"> 
                <div class="imagenesVit">
                <img src ="/images/livingVitrna2.jpg.jpg">
                <div class="claim"> TUS AMBIENTES NUNCA LOS VISTE ASI</div>
                </div>
            </li>
        </ul>
        <ul class ="menuSlider">
            <li> <a href="#Slider1"> </a> </li>
            <li> <a href="#Slider2"> </a> </li>

        </ul>
    </div>
    <section class="contenedor">
   
        <div class="familias">
            <section class="mundos">
               <a href="/plp/interior" class="interior">INTERIOR</a>
               <a href="/plp/exterior" class="exterior">EXTERIOR</a>
               <a href="/plp/otros" class="decoracion">DECORACION</a>
               <a href="/plp/herramientas" class="herramientas">HERRAMIENTAS</a>
            </section>
        </div>
        <div class="enviosTarjetasLocales">
            <article class="truck"><i class="fas fa-truck"></i><p>Envíos a Todo el País</p></article>

            <article class="tarjeta"><i class="far fa-credit-card"></i><p>La Mejor Financiación</p></article>
            
            <article class="retiro"><i class="fas fa-store"></i><p> Retiro Gratis en Nuestros Locales </p></article>
        </div>
        
        <div class="oportunidades">Oportunidades de la semana </div>

        <div class="ofertas">
          
            <% for( let i = 0; i < productos.length; i++ ) { %>
                <%    if(productos[i].promo == "si"){ %>
                    
                <a href="/pdp/<%= productos[i].id%>" class="card">
                                               
                    <img src="<%= '/imagen_producto/'+ productos[i].imagen_producto %>" alt=""> <br>
                    <h6>Código:<%= productos[i].sku %></h2></p>
                        <p>
                            <!--*<%= productos[i].marcas.marca %>&nbsp-->
                           <%= productos[i].titulo_producto %>&nbsp
                           <!--<%= productos[i].color %>&nbsp</p>-->
                       <p>  <h4 class='precio'>$ <%= productos[i].precio %></h4>  </p>
                    </a>  
                
                <% } %> 
               
            <% } %>

           


        </div>
     </section>
     <section class="marcas">
         <li><a href="#"><img src="/images/logos/sw.jpg"> </a></li>
         <li><a href="#"><img src="/images/logos/weber.jpg"> </a></li>
         <li><a href="·"><img src="/images/logos/Tersuave.jpg"> </a></li>
         <li><a href="#"><img src="/images/logos/sinteplas.jpg"> </a></li>
         <li><a href="#"><img src="/images/logos/alba.jpg"> </a></li>
       

     </section>
     
     <%- include('partials/Footer.ejs') %>    
     <script src="/js/functions.js" type="text/javascript"> </script>
     
     <script src="/js/carrito.js"type="text/javascript"></script>
</body>
</html>

