<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/cargaProducto.css">
    <script src="https://kit.fontawesome.com/720e4c8677.js" crossorigin="anonymous"></script>
    

    <title>Pint@me</title>
</head>
<body>
    <header class="cabecera">
        <a href="./index" class="logo"><img src="/images/logos/Pintamev2.png" alt="" ></a> 
    </header>

    <section class="contenedor">
        <div class="ingreso">
            <h2>Modificar Producto</h2>  <hr class="hrcolor">
            <h4>Ingresar los datos correspondientes al producto</h4>
            <form  class="form" method="POST" action="/modificarProducto/<%=productos.id%>?_method=PUT&id=" enctype="multipart/form-data" >
                <div class= "medio">
                <div class="medio_1">
                    <label for="id_proveedor">Proveedor &nbsp</label>
                    <select id= 'id_proveedor' name="id_proveedor" >
                        
                              <option value= "<%= proveedores.id_proveedor%>">
                                  
                     </option>   
                       
                    <!--<input type='text' id= 'id_proveedor'name="id_proveedor" value="" placeholder="Nombre del proveedor"> -->
                </select>
                    <label for="sku">Sku &nbsp</label>
                    <input type='text' id= 'sku'name="sku" value="<%= productos.sku%>" placeholder="Ingresa el n° de Sku"> &nbsp

                    <label for="marca">Marca &nbsp</label>
                    <select id= 'id_marca' name="id_marca" >
                        
                        <option value= "<%= productos.id_marca%>">
                           
                        </option>   
                    </select>    &nbsp
                    
                    <label for="id_familia">Familia &nbsp</label>
                    <input type="text" id='  id_familia' name="  id_familia" value="<%= productos.  id_familia%>" placeholder="Familia"> <br> 
                   
                </div>
                <div class="medio_2">
                    <label for="id_subfamilia">Subfamilia &nbsp</label>
                    <select id= 'id_subfamilia' name="id_subfamilia" >
                        
                        <option value= "<%= proveedores.id_subfamilia%>">
                            
                        </option>   
                    </select>    

                     <label for="id_tipo">Tipo&nbsp</label>
                     <select id= 'id_tipo' name="id_tipo" >
                        
                        <option value= "<%= proveedores.id_tipo%>">
                            
                        </option>   
                    </select>    
                    <label for="id_subtipo">Subtipo&nbsp</label>
                    <input type="text" id='subid_subtipotipo' name="id_subtipo" value="" placeholder="Ejemplo: Látex interior"> 

                    <label for="presentacion">Presentacion &nbsp</label>
                    <input type="text" id='presentacion' name="presentacion" value="<%= productos.presentacion%>" placeholder="Litros - CM3 - Unidades"> 
                </div>
                <div class="medio_3">
                    <label for="contenidoNeto">Contenido Neto &nbsp</label>
                    <input type="text" id='contenidoNeto' name="contenidoNeto" value="<%= productos.contenidoNeto%>" placeholder="Contenido Neto"> <br>

                    <label for="color">Color &nbsp</label>
                    <input type="text" id='color' name="color" value="<%= productos.color%>" placeholder="color"> <br>
                
                
                    <label for="tiempo_entre_manos">Tiempo de espera entre manos &nbsp</label>
                    <input type="number" id='tiempo_entre_manos' name="tiempo_entre_manos" value="<%= productos.tiempo_entre_manos%>" placeholder="Tiempo de espera entre manos"> 
                </div>
                    <div class="medio_4">
              
                    <label for="base">Base  &nbsp</label>
                    <input type="text" id= 'base' name="base" value="<%= productos.base%>" placeholder="Base (Ej: al agua)"> <br>

                    <label for="id_terminacion">Terminación  &nbsp</label>
                    <input type="text" id='id_terminacion' name="id_terminacion" value="<%= productos.id_terminacion%>" placeholder="Tipo de Terminación">
                
                    <label for="rendimiento">Rendimiento  &nbsp</label>
                    <input type="text" id='rendimiento' name="rendimiento" value="<%= productos.rendimiento%>" placeholder="Ejemplo 12 a 16 m2/l por mano">
                </div>
                <div class="medio_5">
                    <label for="usoRecomendado">Uso Recomendado  &nbsp</label>
                    <input type="text" id='usoRecomendado' name="usoRecomendado" value="<%= productos.usoRecomendado%>" placeholder="Ej: Interio o exterior"> <br>
             
                    <label for="tiempo_de_secado">Secado al tacto  &nbsp</label>
                    <input type="text" id='tiempo_de_secado' name="tiempo_de_secado" value="<%= productos.tiempo_de_secado%>" placeholder="Tiempo de secado">

                    <label for="garantia">Garantia  &nbsp</label>
                    <input type="text" id='garantia' name="garantia" value="<%= productos.garantia%>" placeholder="Tiempo de Garantia">
             
                    <label for="imagen_producto">Cargar imagen del producto  &nbsp</label>
                    <input type="file" name="imagen_producto" id= 'imagen_producto' class= 'form-control-file' value="<%= productos.imagen_producto%>"> <br>
                
                </div>
                </div>
                <button class="enviar" type="submit" name="cargarProducto" class="cargarProducto">Cargar Productos</button>   
       
            </form>
            <div class ="borrar" >
                <form  action="eliminar/<%= productos.id %>?_method=DELETE" method="POST">
                    <button class="eliminar"  type="submit">Eliminar <br> Producto</button>
                </form>             
            
            </div>
        </div>
     
    </section>
    <footer class="footer">
        <div class="credenciales">
            <ul>
                <li> <a href="#"> Quienes Somos</a> </li>
                <li> <a href="#">Pedidos Especiales </a></li>
                <li><a href="#">Contacto</a></li>
            </ul>    
        </div>
        <div class="logo-footer">
            <img src="/images/logos/Pintamev2.png">
        </div>
        <div class="redesSociales">
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
           
        </div>
     </footer>


</body>