<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/head.css">
    <link rel="stylesheet" href="/stylesheets/plp.css">
    <link rel="stylesheet" href="/stylesheets/Main.css">
    <script src="https://kit.fontawesome.com/720e4c8677.js" crossorigin="anonymous"></script>
    <title>PLP</title>
</head>
<body>
    <%- include('partials/Header.ejs') %>
    <main>
        <article>
            <div class="banner">
                <img src="/images/Bannerahora12.jpg" alt="Banner Ahora 12">
            </div>
        </article>
        <h1> OPORTUNIDADES DE LA SEMANA</h1>
        <article class="menuMasTachos">
            <aside>
                <form action="/plp" method="GET">
                <div>
                    <h4>Tipo de pinturas</h4>
                    <ul>
                        <li>Al agua <input type="checkbox" name="text" value="agua"></li>
                        <li>Esmalte acrílico <input type="checkbox" name="text" value="acrilico"></li>
                        <li>Esmalte sintético <input type="checkbox" name="text" value="sintetico"></li>
                    </ul>
                </div>
                <div>
                    <h4>Marcas</h4>
                    <select name="marca">
                    <% if (typeof marca_selected === 'undefined') { %> 
                        <option value="" selected="selected"></option>
                    <% } else { %>
                        <option value="<%= marca_selected %>" selected="selected"><%= marca_selected %></option>
                    <% } %>   
                     <% for( let i = 0; i < marcas.length; i++ ) { %>
                        <option value= "<%= marcas[i].marca%>">
                            <%= marcas[i].marca%>
                        </option> 
                    <% } %>
                    <option value=""></option>
                </select>
                </div> 
                <div>
                    <h4>Tipo</h4>
                    <select name="tipo">
                        <% if (typeof tipo_selected === 'undefined') { %> 
                            <option value="" selected="selected"></option>
                        <% } else { %>
                            <option value="<%= tipo_selected %>" selected="selected"><%= tipo_selected %></option>
                        <% } %>
                        <% for( let i = 0; i < tipos.length; i++ ) { %>
                           <option value= "<%= tipos[i].tipo%>">
                               <%= tipos[i].tipo%>
                           </option> 
                       <% } %>
                       <option value=""></option>   
                   </select>
                </div> 
                <div>
                    <h4>Precio</h4>
                    <ul>
                        <li>Desde: <input class="precioMin"  type="number" placeholder="<%= (typeof precio_min_selected === 'undefined' ? "Precio mínimo" : precio_min_selected) %>" name="min"> </li>
                        <li>Hasta: <input class="precioMax"  type="number" placeholder="<%= (typeof precio_max_selected === 'undefined' ? "Precio máximo" : precio_max_selected) %>" name="max"> </li>
                    </ul>
                </div>
                <div>
                    <h4>&nbsp</h4>
                    <button type="submit" class="buscar">Buscar</button>                    
                </div>                
            </form>
            <br>
            </aside>
            <section>
                <section class = "productosCard">
                    <div class ='productosPlp'> 
                    <% for( let i = 0; i < productos.length; i++ ) { %>
                         
                        <a href="/pdp/<%= productos[i].id%>" class="card">
                                                       
                            <img src="<%= '/imagen_producto/'+ productos[i].imagen_producto %>" alt=""> <br>
                            <h6>Código:<%= productos[i].sku %></h2></p>
                                <p>
                                    <%= productos[i].marcas.marca %>
                                   <%= productos[i].titulo_producto %>&nbsp
                                   <%= productos[i].color %>&nbsp
                                </p>
                               <p>  <h4 class='precio'>$ <%= productos[i].precio %></h4> </p>
                                                  
                        </a>    
                    
                    <% } %>
                </section>
            </section>
        </article>
        <article>
            <br>
            <div>
                <a href="/" class="volver">Volver</a>
            </div>
            <br>
        </article>
    </main>
    <%- include('partials/Footer.ejs') %>  
    <script src="/js/carrito.js"type="text/javascript"></script>  
</body>
</html>